server:
  port: 8080
  servlet:
    context-path: /api

spring:
  application:
    name: motorRecomendaciones

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create    
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true   

  sql:
    init:
      mode: always         

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: alpha
    tags-sorter: alpha
    display-request-duration: true

# Jwt Config
jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}
